--- 
---
@import "{{ site.theme }}";
@import "https://cdn.muicss.com/mui-0.10.3/css/mui.min.css";

body,
.site-nav .page-link {
    color:#888
}
/*
header {
    margin: 0, 0, 0, 0;
    max-width: initial;
}

.site-nav .page-link,
.site-nav .page-link:visited,
*/
.site-title,
.site-title:visited {
    margin: 0 5px 5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.23);
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}
.site-header {
    border-top: 5px solid #ddd;
}
.site-title {
    transform: rotateY(180deg);
    font-size: 32px;
}

.beacon-parser-page {

    table {
        word-break: break-all;
    }

    .mui-table>tbody>tr>td,
    .mui-table>tbody>tr>th,
    .mui-table>tfoot>tr>td,
    .mui-table>tfoot>tr>th,
    .mui-table>thead>tr>td,
    .mui-table>thead>tr>th {
        padding: 5px;
        line-height: 1;
    }

    table.mui-table>thead>tr>th:first-of-type {
        width: 200px;
    }

    tr:nth-child(even) {
        background-color: lightgray;
    }

    .colDelete {
        float: right;
        cursor: pointer;
    }
}